<div class="footer text-center" style="background-color: #262626;padding:20px 10%;font-size: 14px;">
	<div class="footer-left pull-left">
		<ul class="list-unstyled list-inline">
			<li><a href="/"><img src="statics/images/yj/yujian-logo.png" alt="遇见文化传媒" title="年终总结" height="53"/></a><span> |</span></li>
			<li><p>Copyright &copy; 2012-2016. <a href="http://www.yujianchuanmei.cn"><span style="color: #F4A718;">苏州遇见文化传媒有限公司</span></a>. AllRights reserved. </p></li>
		</ul>
	</div>
	<div class="footer-right pull-right">
		<ul class="list-unstyled list-inline">
			<li><a href="http://www.yujianchuanmei.cn"><span style="color: white;">苏州遇见文化传媒有限公司旗下项目：&nbsp;&nbsp;&nbsp;</span></a><a href="http://www.tecclub.cn" target="_blank"><img class="tec-logo" alt="TEC引擎俱乐部" title="点击进入TEC引擎俱乐部" src="statics/images/yj/tec link.png"></a></li>
		</ul>
	</div>
	<div class="clearfix"> </div>
	<div class="row">
		<ul class="list-unstyled list-inline friendly">
			<li><a href="#" target="_blank">友情链接：</a>

				{pc:link  action="type_list" siteid="$siteid" order="listorder DESC" num="20" return="dat"}

					{loop $dat $v}
					{if $type!==0}
					<a href="{$v[url]}" title="{$v[name]}" target="_blank">{$v[name]}</a>&nbsp;&nbsp;
					{else}
					<a href="{$v[url]}" target="_blank"><img src="{$v[logo]}" width="88" height="31" style="border: 1px solid #FFBE7A;"></a>
					{/if}
					{/loop}

				{/pc}

			</li>

		</ul>
	</div>
</div>
</body>
</html>