{template "content","header_self"}

<main class="site-content" role="main">

    <!--Home Slider==================================== -->

    <section id="home-slider">
            <div class="main_visual">
                <div class="main_image">
                    <ul>
                        {pc:content  action="lists" catid="11" order="updatetime DESC" thumb="1" num="5" return="info"}
                        {loop $info $v}
                        <li>
                            <a href="{$v[url]}">
                                <span style="background: url({$v[thumb]}) center no-repeat;"></span>
                                <div>
                                    <h1>{$v[title]}</h1>
                                    <h3>{$v[description]}</h3>

                                </div>
                            </a>
                        </li>

                        {/loop}
                        {/pc}
                    </ul>
                    <a href="javascript:;" id="btn_prev" style="color:white;font-size: 60px;"> < </a>
                    <a href="javascript:;" id="btn_next" style="color:white;font-size: 60px;"> > </a>
                </div>
            </div>
    </section>
<script>

    $('.main_image li a').mouseover(function(){

        $(".main_image li a div").fadeIn();

    }).mouseleave(function(){

        $(".main_image li a div").fadeOut();

    });

</script>

    <section id="what-we-can">
        <div class="container">
            <div class="row">
                {pc:content  action="lists" catid="12" order="updatetime DESC" thumb="1" num="8" return="info"}
                {loop $info $v}
                    <div class="col-md-2 col-sm-6 col-xs-6 bannerBottom">
                        <a href="{$v[url]}" target="_blank">
                            <p class="bannerBottomImage"><img class="center-block" src="{$v[thumb]}"></p>
                            <p class="bannerBottomTitle">{$v['title']}<br>
                                <span class="bben">{$v['description']}</span>
                            </p>
                        </a>
                    </div>
                {/loop}
                {/pc}
            </div>
        </div>

    </section>
    <!-- portfolio section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>我们做过什么</h2>
                    <p style="padding:0 10px;">只有专注，才有专业 ！
                        苏州遇见文化传媒有限公司一直在坚持自己的理念：我们致力于活动策划执行！
                        遇见传媒成功服务于房产、汽车、银行、服装、IT、通讯、时尚品牌等多个行业的品牌企业，服务范围遍布全国、在各个领域发展了一批相当稳固的客户群体，为不同领域的客户提供最优质的服务。我们与苏州园区世界五百强企业、大型房地产集团、商会、机构等建立长期合作关系，可独立完成各类活动前期策划筹备及后期的制作执行，在业内独树一帜。</p>
                </div>

                <ul class="project-wrapper wow animated fadeInUp">

                    {pc:content  action="position" posid="1" order="listorder DESC" num="32"}
                    {loop $data $r}

                    <li class="portfolio-item">
                        <a href="{$r['url']}"><img src="{$r[thumb]}" style="height: 200px;width: 100%;" class="img-responsive" alt="{$r['title']}">
                        <figcaption class="mask">
                            <h3>{$r['title']}</h3>
                            <p>{str_cut($r['description'],80)} </p>
                        </figcaption></a>
             <!--           <ul class="external">
                            <li><a class="fancybox" title="{str_cut($v['description'],150)}" data-fancybox-group="works" href="{thumb($v[thumb],381,290,0)}"><i class="fa fa-search"></i></a></li>
                            <li><a href="{$v['url']}"><i class="fa fa-link"></i></a></li>
                        </ul>-->
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </section>
    <!-- end portfolio section -->

    <!-- Service section -->
    <section id="service">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">服务</h2>
                    <p class="wow animated bounceInRight">苏州遇见文化传媒有限公司，致力于为客户提供专业活动策划执行全方位服务</p>
                </div>


                {pc:content  action="lists" catid="13" order="updatetime DESC" thumb="1" num="8" return="info"}
                {loop $info $v}
                <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <a href="{$v[url]}">
                    <div class="service-item">
                        <div class="service-icon">
                            <img class="img-responsive center-block" src="{$v[thumb]}">
                        </div>
                        <h4 class="text-left">{$v['title']}</h4>
                        <p style="font-size: 14px;text-align: left;color:grey;">{$v['description']} </p>
                    </div>
                    </a>
                </div>
                {/loop}
                {/pc}
            </div>
        </div>
    </section>
    <!-- end Service section -->

    <!--Hotspot  section-->
        <section id="hotspot">
            <div class="container">
            <div class="row">
                <hr style="border-bottom: 1px solid #9f9f9f;">

                 <ul class="list-inline text-center hotspot-title" style="font-size: 25px;margin-bottom: 40px;">
                     <li class="hidden-sm hidden-xs"><div style="width: 80px;background-color:#DF9017;height: 5px;"></div></li>
                     <li class="text-center"><h2 style="background-color: #DF9017;padding:3px 20px;">遇见热点</h2></li>
                     <li class="hidden-sm hidden-xs"><div style="width: 80px;background-color:#DF9017;height: 5px;"></div></li>
                 </ul>
            </div>
            <div class="row">
                <div class="col-md-4 notice wow animated zoomInLeft">
                    <div style="border-bottom: 1px solid #9f9f9f;display: block;padding:5px;font-weight: bold;">
                        <div class="hotspot-banner pull-left" style="color:#DF9017;">【通知】</div><a class="pull-right" href="/index.php?m=content&c=index&a=lists&catid=35" style="color:#8e8e8e;" title="点击查看更多"> >> </a>
                        <div class="clearfix"></div>
                    </div>
                    {pc:content  action="lists" catid="35" order="updatetime DESC" num="5" return="info"}
                    <div class="notice-box">
                    {loop $info $v}
                    {$num++}
                        <a href="{$v[url]}"><span>{$num}.</span>{$v[title]}【{date('m-d',$v[inputtime])}】
                            {if $num==1}
                                {if $v[thumb]!=''}
                                <img class="img-responsive" src="{$v[thumb]}">
                                {/if}
                            {/if}
                        </a>
                    {/loop}
                    </div>
                    {/pc}
                </div>


                <div class="col-md-4 wow animated zoomIn">
                    <div style="border-bottom: 1px solid #9f9f9f;display: block;padding:5px;font-weight: bold;">
                        <div class="hotspot-banner pull-left" style="color:#DF9017;">【活动】</div><a href="/index.php?m=content&c=index&a=lists&catid=36" class="pull-right" style="color:#8e8e8e;" title="点击查看更多"> >> </a>
                        <div class="clearfix"></div>
                    </div>
                    {pc:content  action="lists" catid="36" order="updatetime DESC" num="5" return="info"}
                    <div class="notice-box">
                    {loop $info $r}
                        <a href="{$r[url]}">
                            {if $r[thumb]!=''}
                            <img style="width: 20px;height: 18px;" src="{$r[thumb]}">
                            {/if}&nbsp;&nbsp;{$r[title]}【{date('m-d',$r[inputtime])}】
                        </a>
                    {/loop}
                    </div>
                    {/pc}
                </div>

                <div class="col-md-4 wow animated zoomInRight ">
                    <div style="border-bottom: 1px solid #9f9f9f;display: block;padding:5px;font-weight: bold;">
                        <div class="hotspot-banner pull-left" style="color:#DF9017;">【视频】</div><span class="pull-right" style="color:#8e8e8e;" title="点击查看更多"> >> </span>
                        <div class="clearfix"></div>
                    </div>
                    {pc:content  action="lists" catid="37" order="updatetime DESC" num="5" return="info"}
                    <div class="notice-box">
                        {loop $info $r}
                        <a href="{$r[url]}">
                            <img src="{IMG_PATH}yj/icons/videoNewsLeft.gif">&nbsp;&nbsp;{$r[title]}【{date('m-d',$r[inputtime])}】
                        </a>
                        {/loop}
                    </div>
                    {/pc}
                </div>

            </div>

            </div>

        </section>

    <!--end Hotspot  section-->
</main>

<script>
    $(function(){

        $(".yj-home-link").addClass('my-active');
    });

            $(document).ready(function(){

              $(".main_visual").hover(function(){
                    $("#btn_prev,#btn_next").fadeIn()
                },function(){
                    $("#btn_prev,#btn_next").fadeOut()
                });

                $dragBln = false;

                $(".main_image").touchSlider({
                    flexible : true,
                    speed : 200,
                    btn_prev : $("#btn_prev"),
                    btn_next : $("#btn_next"),
                    paging : $(".flicking_con a"),
                    counter : function (e){
                        $(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
                    }
                });

                $(".main_image").bind("mousedown", function() {
                    $dragBln = false;
                });

                $(".main_image").bind("dragstart", function() {
                    $dragBln = true;
                });

                $(".main_image a").click(function(){
                    if($dragBln) {
                        return false;
                    }
                });

                timer = setInterval(function(){
                    $("#btn_next").click();
                }, 3000);

                $(".main_visual").hover(function(){
                    clearInterval(timer);
                },function(){
                    timer = setInterval(function(){
                        $("#btn_next").click();
                    },3000);
                });

                $(".main_image").bind("touchstart",function(){
                    clearInterval(timer);
                }).bind("touchend", function(){
                    timer = setInterval(function(){
                        $("#btn_next").click();
                    }, 3000);
                });

            });

</script>
{template "content","footer"}