{template "content","header_self"}
<!--main-->
<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{siteurl($siteid)}">首页</a></li>
                <li>{$catname}</li>
            </ol>

            {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
            <div class="row">
                {loop $data $r}

                <div class="col-md-3">
                    <a href="{$r[url]}" target="_blank"{title_style($r[style])}>
                    <img class="img-responsive" src="{$r[thumb]}">

                    <span>{$r[title]}</span>
                    <span class="rt">【{date('m-d',$r[inputtime])}】</span>
                    </a>
                </div>
                {/loop}
            </div>
            <div id="pages" class="text-c">{$pages}</div>
            {/pc}

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">频道总排行</h3>
                </div>
                <div class="panel-body">
                    <ul class="content digg">
                        {loop $data $r}
                        <li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
                        {/loop}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">频道本月排行</h3>
                </div>
                <div class="panel-body">
                    {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
                    <ul class="content rank">
                        {loop $data $r}
                        <li><span class="badge" style="margin-right: 10px;">{number_format($r[monthviews]+1)}</span><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
                        {/loop}
                    </ul>
                    {/pc}
                </div>
            </div>

        </div>

        </div>

    </div>

</div>
{template "content","footer"}