{template "content","header_self"}
<style>

    .cur{border-bottom: 1px solid #EAA322;background-color: #d3d3d3;}
    .yj-about .col-md-2 a,.yj-about .col-md-2 h3{padding:0 20px;}
    .yj-about a{color:gray;}
    .col-auto{padding:20px 0px;}
    @media (max-width: 768px) {

    .col-auto{padding:0;}
    }

</style>
<main class="site-content" role="main">
    {template "content","crumb"}
    <div class="container">

        <div class="row yj-about">

            <div class="col-auto">
                <!--	 <h2 class="title">{$title}</h3>-->
                <div class="content">
                    {$content}
                </div>
            </div>


        </div>


    </div>


</main>

{template "content","footer"}